
body {background-color: #009e73;
font-family: Lato, Trebuchet MS, Arial, sans-serif
} 

h1, h2, h3, h4, h5, h6, p, div, body {color: #ffffff;
}

h1 { font-size: 20px; text-align: center; padding-top: 2px;
}

h2 { font-size: 16px;
      font-style: italic;
      padding-top: 15px;
}

h3 { font-size: 14px;
       padding-top: 15px;
}

h4 {font-size: 12px;
	padding-top: 10px;
}
	
h5 {font-size: 12px;
	padding-top: 0px;
	padding-bottom: 0px;
	line-height: 15px;
}

h6 {font-size: 12px;
padding-top: 0px;
}

hr {color: #ffffff; size="2"; width="90%"; text-align="left"; noshade; 
}

p, div {	font-size: 12px;
	line-height: 18px;	
	text-align: justify;
}

caption { align="bottom", "left";
}

.copyright_statement { font-size: 9px;
	text-align: center;
	line-height: 10px;
	padding-top: 0px;
}

table { font-size: 12px; border="0" cellspacing="6" cellpadding="6";
}

.title { font-style: italic;
}

.english { color: #cc9900;
    font-style: italic;
}

.eng { color: #cc9900;
    font-style: italic;
}

.tag {color: #009e73;
}

a {	font-size: 12px;
 font-weight: bold; 
text-decoration: none;
}

a:link { 
 color: #ffffff;
}

a:active { color: silver;
}

a:visited { color: #c2c2c2;
}

a:hover   { text-decoration: underline;
}

